.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #FFFBF1;
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2em;
}

header {
  background-color: #E36A6A;
  color: #FFF2D0;
  padding: 1% 0;
  text-align: center;
}

main {
  min-height: 400px;
}



/* Tabell */
table {
  margin: 1% 0;
  width: 100%;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid gray;
}

table td input[type="text"],table td textarea {
  width: 80%;
}

/* Knappar */
button, input[type="submit"] {
  padding: 4px 6px;
  font-size: 1.1em;
  background-color: #FFF2D0;
  color: #E36A6A;
  border-radius: 10px;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  background-color: #E36A6A;
  color: #FFF2D0;
}

footer {
  background-color: #E36A6A;
  color: #FFF2D0;
  text-align: center;
  padding: 1% 0;
}

@media (max-width: 600px) {

  .container {
    font-size: 1.1em;
  }
  table {
    font-size: 0.8em;
    overflow-x: auto;
    display: block;
  }

  #description {

    max-width: 75%;
  }

  table td input[type="text"],table td textarea {
    font-size: 0.7em;
    width: 100%;
  }
}